# Dati pesanti di Scryfall e Regole
data/*.json
data/*.jsonl
data/*.txt
data/*.pdf
data/embeddings/
data/embeddings_smoke/
*.npy

# Modelli e Pesi
models/
*.safetensors
*.gguf

# Ambiente Python
venv/
__pycache__/
.DS_Store
